{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<!-- Container -->
<div class="flex items-center justify-center h-screen bg-gray-200">
  <!-- Flash Messages -->
  {% with msgs = get_flashed_messages(with_categories=true) %} {% if msgs %} {%
  for ctgy, msg in msgs %}
  <div id="lgn-flash-msgs" class="fixed top-4 right-4 z-50">
    <div
      class="relative flex items-center p-4 rounded-lg shadow-lg max-w-md {% if ctgy == 'register_success' %}bg-green-100 border-l-4 border-green-500 text-green-700 {% elif ctgy == 'login_error' %}bg-red-100 border-l-4 border-red-500 text-red-700{% endif %}"
    >
      <span class="flex-1">{{ msg }}</span>
      <button onclick="this.parentElement.remove()" class="ml-4 p-1">
        <span class="text-black text-xl font-bold" aria-hidden="true"
          >&times;</span
        >
      </button>
    </div>
  </div>
  {% endfor %} {% endif %} {% endwith %}
  <script>
    // Auto Dismiss After 3 secs
    setTimeout(() => {
      const msg = document.getElementById("lgn-flash-msgs");
      if (msg) {
        msg.style.opacity = "0";
        msg.style.transition = "opacity 0.9s";
        setTimeout(() => msg.remove(), 500);
      }
    }, 3000);
  </script>
  <!-- Card -->
  <div class="bg-white p-3 sm:pr-0 mx-6 rounded-xl opacity-0 lgn-card-fade-in">
    <!-- Flex Container -->
    <div class="flex flex-col sm:flex-row rounded-l-lg overflow-hidden">
      <!-- Image -->
      <img
        class="hidden sm:block rounded-l-lg h-[500px] transform transition-all hover:scale-105 duration-300"
        src="{{ url_for('static', filename='images/side-pic.png') }}"
        alt="side-pic"
      />
      <!-- Content -->
      <div class="flex flex-col px-8 py-4 w-72 md:w-96 duration-300">
        <p class="text-center mb-6 font-bold text-xl">Login</p>
        <!-- Login Form -->
        <form
          id="lgn-form"
          method="POST"
          action="/login"
          class="relative flex flex-col"
          autocomplete="off"
        >
          <!-- Email -->
          <label class="mb-2 text-sm"
            >Email<span
              id="lgn-email-error-msg"
              class="hidden text-sm text-[#e74c3c] absolute right-0"
              >*invalid email*</span
            ></label
          >
          <input
            id="lgn-email-input"
            name="email"
            type="text"
            placeholder="Email address..."
            maxlength="50"
            class="border-b-2 border-gray-200 mb-4 focus:outline-none"
          />
          <!-- Password -->
          <label class="mb-2 text-sm"
            >Password<span
              id="lgn-invalid-pw-error-msg"
              class="hidden text-sm text-[#e74c3c] absolute right-0"
              >*invalid password*</span
            ></label
          >
          <input
            id="lgn-pw-input"
            name="password"
            type="password"
            placeholder="Enter a strong password"
            maxlength="50"
            class="border-b-2 border-gray-200 mb-4 focus:outline-none"
          />
          <!-- Submit -->
          <button
            id="lgn-submit-btn"
            type="submit"
            class="my-4 border-2 border-black hover:border-gray-200 rounded-lg bg-black text-white p-2 hover:bg-white hover:text-black duration-300"
          >
            Submit
          </button>
          <!-- Register -->
          <label class="text-center"
            ><a href="/register" class="text-sm cursor-pointer"
              >Register →</a
            ></label
          >
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<!-- Link login.js -->
<script
  src="{{ url_for('static', filename='js/login.js') }}"
  type="text/javascript"
></script>
{% endblock %}
